@import "_header";
html,
body {
  margin: auto;
  padding: auto;
  box-sizing: border-box;
  font-size: 40px;
  font-family: "Work Sans", sans-serif;
  /*   background-image: url(img/tree.jpg); */
  background-size: cover;
  text-align: center;
  background-color: aliceblue;
}

.art {
  display: flex;
  font-size: 2rem;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  padding: 30px;
}
.col {
  margin: auto;
  padding: 30px 30px;
  background: lightgoldenrodyellow;
  box-shadow: 10px 10px 5px grey;
  width: 27%;
}

#image {
  padding: 10px auto;
  margin: auto;
  border-radius: 30px;
  width: 60%;
  align-items: center;
  display: block;
}
