@import "_header";
html,
body,
* {
  background-color: pink;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 40px;
  font-family: "Work Sans", sans-serif;
}
img {
  background-image: url(img/tree.jpg);
  height: 100vh;
  max-width: 100%;
  height: auto;
}
.art {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 3rem;
    background-color: lightcoral;
    border: 5px solid red;
  }
  .col-tree {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
            background-color: yellow;
  }
  .col-girl {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .col-ocean {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
        justify-content: center;
  }
  .col-img {
    height: 25%;
  }
  .col-text {
    font-size: 3rem;
    text-align: center;
    padding: 2.3 rem;
  }
  .col-box {
    background-image: url(../img/tree.jpg);
    height: 30%;
    width: 80%;
    background-size: cover;
    background-position: center;
  }
  